**/.DS_Store
.vscode/

references/

*.dSYM/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BlackScholesModel/asian_option_monte_carlo_black_scholes
src_cpu/main
src_gpu/run_all_engines.sh
src_gpu/test_results.log
